# IntelliJ / Android Studio specific
*.iml
.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/libraries
.idea/caches
.idea/modules.xml
.gradle/
.gradle_cache/
.kotlin/
.kotlin_cache/
.kover/
local.properties
capture/
.externalNativeBuild
.cxx

# Xcode specific
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.xccheckout
*.xcscmblueprint
*.xcuserstate
xcuserdata

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Build files
**/build/
!src/**/build/

# Environment and configuration files
.env

# Gradle specific
gradle-app.setting